server {
  server_name php80.test;
  root        /var/www/default;
  index       index.php index.html;

  client_max_body_size 100M;
  fastcgi_read_timeout 1800;

  location / {
    try_files $uri $uri/ /index.php;

    if (!-e $request_filename){
        rewrite ^([^.]*[^/])$ $1/ permanent;
        rewrite ^/(.*) /index.php?path=$1;
    }
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires       max;
    log_not_found off;
    access_log    off;
    sendfile      off;
  }
  
  include /etc/nginx/snippets/php-8.1-fpm.conf;

  # disallow access to apache configs
  location ~ /\.ht {
    deny all;
  }

  # disallow access to git configs path
  location ~ /\.git {
    deny all;
  }

  # disallow access to yii code path
  location ~ /(protected|themes/classic/views)/ {
    deny all;
  }
}


server {
  listen  443 ssl;
  
  client_max_body_size 100M;
  fastcgi_read_timeout 1800;
  add_header  Strict-Transport-Security "max-age=0;";
  
  server_name php80.test;
  root        /var/www/default;
  index       index.php index.html;

  include /etc/nginx/snippets/ssl.conf;

  access_log off;
  error_log "/var/www/log/nginx/ssl-php.error.log";

  # check file exist and send request sting to index.php 
  location / {
      try_files $uri $uri/ /index.php;

      if (!-e $request_filename){
          rewrite ^([^.]*[^/])$ $1/ permanent;
          rewrite ^/(.*) /index.php?path=$1;
      }
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires       max;
    log_not_found off;
    access_log    off;
    sendfile      off;    
  }

  include /etc/nginx/snippets/php-8.1-fpm.conf;

  # disallow access to apache configs
  location ~ /\.ht {
    deny all;
  }

  # disallow access to git configs path
  location ~ /\.git {
    deny all;
  }

  # disallow access to yii code path
  location ~ /(protected|themes/classic/views)/ {
    deny all;
  }
}


